body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todo-list {
  width: 350px;
  margin: auto;
}
.item-wrap {
  list-style: none;
  padding: 0;
}
.item {
  width: 350px;
  display: flex;
  margin-bottom: 5px;
}

.done .name {
  text-decoration: line-through;
}
.name {
  background-color: #ebebeb;
  cursor: pointer;
}

.f-1 {
  flex-grow: 1;
}

.input-wrap {
  display: flex;
}

.input-wrap > input {
  flex-grow: 1;
}
